
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
 
body{
    
    font-family: Arial, sans-serif;
}

.parent {
  position: relative;   
  font-size: 50px;      
  margin: 50px;
}


.badge {
  position: absolute; 
  top: 0;               
  right: 0;             
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 4px 8px;    
  border-radius: 12px;  
  font-weight: bold;
}
