
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    
    font-family: Arial, sans-serif;
}

.navbar {
  position: sticky; 
  top: 0;             
  background-color: #2c3e50;
  padding: 15px;
  z-index: 1000;    
}


.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f39c12; 
}


section {
  padding: 40px;
  text-align: center;
}
