*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: aquamarine;
    color: brown;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.div{
    background-color: rgb(228, 236, 233);
    color: rgb(225, 191, 191);
}

