html{
    scroll-behavior: smooth;
}
h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}


.hospital-card {
    width: 400px;
    height: 140px;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: white;
}


#hospitalName {
    background-color: #004080; 
}

#doctors {
    background-color: #008000; 
}

#departments {
    background-color: #cc6600; 
}

#emergency {
    background-color: #990000; 
}
