
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      display: flex;
      gap: 20px;
    }

    .card {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      padding: 20px;
      text-align: center;
      width: 220px;
      transition: 0.5s;
    }

    .card:hover {
      transform: scale(1.05) translateY(-8px); /* Zoom + Lift */
      box-shadow: 0 8px 14px rgba(0,0,0,0.2);
    }

    .card img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 12px;
    }

    .card h3 {
      margin: 8px 0;
      font-size: 18px;
      color: #333;
    }

    .card p {
      margin: 6px 0;
      font-size: 15px;
      color: #555;
    }