*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #f4f4f4;
      font-family: Arial, sans-serif;
      gap: 15px;
    }

    .btn {
      padding: 12px 24px;
      border: none;
      border-radius: 6px;
      background-color: #333;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: 0.5s;
    }

    .btn:hover {
      background-color: #4CAF50; /* Change background color */
      color: #000;              /* Change text color */
      transform: scale(1.1);    /* Scale effect */
    }
