*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #f4f4f4;
      font-family: Arial, sans-serif;
      gap: 20px;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      padding: 20px 30px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      cursor: pointer;
      transition: 1s;
    }

    .logo:hover {
      transform: rotate(360deg);
      
    }