*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
 
 body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      max-width: 900px;
    }

    .gallery img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      transition: 0.5s;
      cursor: pointer;
    }

    .gallery img:hover {
      transform: scale(1.2); 
    }